button {
    font-size: 1rem;
    max-width: 35rem;
    max-height: 10rem;
    padding: 0.2rem;
    margin: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: 2x solid;
    border-radius: 4px;
}
 


.divCustom {
    display: grid;
    place-items: center;
    padding: 2rem;
    gap: 1rem;
}

.divCustom div {
    display: flex;
    place-items: center;
}






