
.formCustom {
    max-width: fit-content;
    padding: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 4rem;
    margin-top: 4rem;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.formCustom div {
    padding: 0.3rem;
}

.formCustom label {
    padding: 0.5rem;
    text-align: left;
}

.formCustom input {
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 4px;
}

.formCustom button {
    font-size: 1rem;
    max-width: 35rem;
    max-height: 10rem;
    padding: 0.2rem;
    margin: 0.4rem;
    margin-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: 2x solid;
    border-radius: 4px;
    grid-column: span 2;
}